body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: dodgerblue;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
  background-color: dodgerblue;
}
